:root {
  --background: #FCF9F2;
  --background-transparent: #FCF9F200;
  --sea-green: #8BB295;
  --lavender: #9EA0C0;
  --sea-blue: #7C9AA2;
  --pink: #D77DA5;
  --body-text: #5a5579;
  

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

html {
  z-index: 1;
}

h1, h2 {
  font-weight: 100;
}

body {
  /* margin: 0;
  padding: 0; */
  font-family: 'mplus', monospace;
  background-color: var(--background);
  /* font-family: "Roboto", sans-serif; */
  /* font-weight: 300; */
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
